@font-face {
  font-family: "Cloud";
  src: url(fonts/Cloud-Bold.ttf) format('truetype');
  /* กำหนดขนาดทั่วไปเป็น Cloud-Bold หรือตัวหน่า */

}

:root {
  /* ฟอนต์ */

  --font: "Cloud", sans-serif;
 
}

* {
  margin: 0;
  padding: 0;
}
body{
  padding-top: 2vh;
    background-color: #0f2130;
}
.grid_multi_blue,.grid_multi_red {
    position: relative;
    margin-bottom: 1vh;

    justify-content: center;
    width: 95vw;
    height: 40vh;
    margin-left: 2.5vw;
    display:  inline-grid;

    grid-template-columns:auto auto auto auto auto ;
    
    padding-top: 4vh;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box{
  width: 19vw;
  height: 100%;

  position: relative;
}
.card_player {

  border-radius: 8px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 15% 100%, 0 85%);
  margin-left: 10%;
  width: 80%;
  height: 100%;

  background: url(image/player_card/1.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center 0;
}
.card_character{
  margin: -2.5vh 0 0 0.5vw;
  position: absolute;
  border-radius: 10px;
  top: 0;
  width: 6vw;
  height: 15vh;
  background: url(image/character/MICHAEL.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center 0;
  background-color: #b2b3b4cb;
}
.tagname{
  margin: -2.5vh 3.8vw 0 0;
  width: 6.5vw;
  position: absolute;
  padding: 0 0.5vw;
 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  top: 0;
  right: 0;
  font-family: var(--font);
  font-size: 2vh;
  color: white;
  background-color: #566571cc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.tagnamecharacter{

  margin-left:  -2.2vw;
  width: 6vw;
  position: absolute;
  padding: 0 0.5vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  bottom:  12vh;
  left:  0;
  font-family: var(--font);
  font-size: 2vh;
  color: white;
  background-color: #566571;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  transform: rotate(-90deg);

}
.progress {
  position: absolute;
  top: 0;
  right: 0.6vw;
  width: 0.7vw;
  height: 85%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  transform: rotate(180deg);
}

.scroll_data {
  border-radius: 20px;

  height: 40%;
  /*  เปลี่ยน Data ของ progress */
  width:  100%;
  background-color: #0197f6;
}
.grid_multi_red > .box > .progress > .scroll_data{
  background-color: #ff0000;
}
.vs{
  position: relative;
 margin-left: 10vw;
 padding: 2vh 0;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
  
  width: 80vw;
  height: 15vh;
  justify-content: center;

  display: grid;
}
.boxVS{
 position: relative;
  background-color: #071018;
  width: 15vw;
  height: 100%;
  clip-path: polygon(0 15%, 9% 0, 91% 0, 100% 15%, 100% 85%, 91% 100%, 9% 100%, 0 85%);
}
.boxVS::before{
  position: absolute;
  content: 'V';
  font-family: var(--font);
  font-size: 6.5vh;
  left: 43%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #0197f6;
}
.boxVS::after{
  position: absolute;
  content: 'S';
  font-family: var(--font);
  font-size: 6.5vh;
  left: 57%;
  top: 60%;
  transform: translate(-50%, -50%);
  color: #ff0000;
}
.topbar,.bottombar{

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3vh;

  background: linear-gradient(to right, #c700009d, #fd0000, #c700009d);
  clip-path: polygon(0 6%, 15% 0, 39% 0, 42.5% 88%, 57.5% 88%, 61% 0%, 85% 0, 100% 5%, 85% 10%, 61.5% 10%, 58% 100%, 42% 100%, 38.5% 10%, 15% 10%);

}
.topbar {

  top:  0;
  transform: rotate(180deg);
  background: linear-gradient(to right, #066baf9d, #009bfd, #066caf9d);
  
}